@model ArhitectEmplosions.ViewModels.HazarNabegsUser
@{
}
<style>
    #parent_popup {
        background: grey;
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
    }

    #popup {
        background-color: #fff;
        position: fixed;
        opacity: 0.9;
        top: 100px;
        left: 40%;
        color: black;
        width: 300px;
    }
</style>
<h1>ХазАрхский набег</h1>
@if (Model.Role == "admin")
{
    <input type="button" value="Создать ХазАрхский Набег" onclick="location.href='@Url.Action("CreateHazar", "HazarNabeg")'" />
}
<h4 title="Платформа, где анализируются результаты полевых исследований 'гостевого' видения территории кампуса." style="color:orange">
    Что это такое?
</h4>
@*<input type="button" id="teach" value="Как работает платформа?" />*@
<div id="parent_popup" style="display: none">
    <div id="popup">
        <p>1. Данная версия платформы является ознакомительной, на ней Вы имеете возможность добавить анкеты </p>
        <p>2. Для ввода анкет нажмите "Добавление анкет"</p>
        <p>3. Для просмотра анкет нажмите "Просмотр анкет"</p>
        <p style="cursor: pointer;" onclick="document.getElementById('parent_popup').style.display='none';">Закрыть</p>
    </div>
</div>
<div style="display:flex;flex-wrap: wrap; align-content: center; flex-direction:column;">
    @foreach(var item in Model.HazarNabegs)
    {
        <div style="display:flex; justify-content:space-around; align-items:center; border:solid; border-color:blueviolet; width:70%; height: 120px; border-radius: 5px;">
            <h1>@item.Name</h1>
            @if (Model.Role != "guest")
            {
                <h1><a asp-controller="HazarNabeg" asp-action="AddQuestionnaire" asp-route-id="@item.Id">Добавление анкет</a></h1>
            }
            <h1><a asp-controller="HazarNabeg" asp-action="ViewHazar" asp-route-id="@item.Id">Просмотр анкет</a></h1>
            <div style="display:flex; flex-direction:column">
                <h6><a asp-controller="HazarNabeg" asp-action="LookConflict" asp-route-id="@item.Id">Просмотр пересечений</a></h6>
                @if (Model.Role == "admin")
                {
                    <h6><a asp-controller="User" asp-action="UserList" asp-route-id ="@item.Id">Интервьюеры</a></h6>
                }
                @* <h6><a asp-controller="HazarNabeg" asp-action="LookAllQuests">Просмотр всех анкет</a></h6>
                <h6><a asp-controller="HazarNabeg" asp-action="EditHazar" asp-route-id="@item.Id">Редактировать</a></h6>
                <form asp-controller="HazarNabeg" asp-action="DelHazar">
                    <input type="submit" value ="Удалить"/>
                </form> *@
            </div>
        </div>
    }
</div>
<script>
    document.getElementById("teach").addEventListener("click", teacher);
    function teacher() {
        let teachDiv = document.getElementById("parent_popup");
        teachDiv.setAttribute("style", "");
    }
</script>